/* <!-- HTML !-->
<button class="button-48" role="button"><span class="text">Button 48</span></button> */

/* CSS */
.button-48 {
  appearance: none;
  background-color: #00008B;
  border-width: 0;
  /* box-sizing: border-box; */
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  /* padding-right: 10rem; */
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* vertical-align: baseline; */
  white-space: nowrap;
width: 250px;
/* align: center; */
/* vertical-align: middle; */
left: 42%;
top: 50%;

}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  border-radius: 12px;
  background-color: #3243ac;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  /* border-radius: 12px; */
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #0800ff;

  /* border-radius: 12px; */
}

.button-48 span {
  z-index: 1;
  position: relative;
}


/* admin form */


.button-40 {
    appearance: none;
    background-color: #00008B;
    border-width: 0;
    /* box-sizing: border-box; */
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    /* padding: 1.5em 2.2em; */
    /* padding-right: 10rem; */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* vertical-align: baseline; */
    white-space: nowrap;
  width: 250px;
  /* align: center; */
  /* vertical-align: middle; */
  left: -20px;
  top: 20px;
  
  }
  
  .button-40:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    border-radius: 12px;
    background-color: #3243ac;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .button-40:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    /* border-radius: 12px; */
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .button-40:after {
    background-color: #0800ff;
  
    /* border-radius: 12px; */
  }
  
  .button-40 span {
    z-index: 1;
    position: relative;
  }


  /* define discount for all courses */

  .button-44 {
    appearance: none;
    background-color: #00008B;
    border-width: 0;
    /* box-sizing: border-box; */
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    /* padding-right: 10rem; */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* vertical-align: baseline; */
    white-space: nowrap;
  width: 300px;
  /* align: center; */
  /* vertical-align: middle; */
  left: 35%;
  top: 50%;
  
  }
  
  .button-44:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    border-radius: 12px;
    background-color: #3243ac;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .button-44:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    /* border-radius: 12px; */
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .button-44:after {
    background-color: #0800ff;
  
    /* border-radius: 12px; */
  }
  
  .button-44 span {
    z-index: 1;
    position: relative;
  }





  /* define discount for a new course */

  .button-41 {
    appearance: none;
    background-color: #00008B;
    border-width: 0;
    /* box-sizing: border-box; */
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    /* padding-right: 10rem; */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* vertical-align: baseline; */
    white-space: nowrap;
  width: 300px;
  /* align: center; */
  /* vertical-align: middle; */
  left: 0%;
  top: 50%;
  
  }
  
  .button-41:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    border-radius: 12px;
    background-color: #3243ac;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .button-41:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    /* border-radius: 12px; */
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .button-41:after {
    background-color: #0800ff;
  
    /* border-radius: 12px; */
  }
  
  .button-41 span {
    z-index: 1;
    position: relative;
  }







  
  /*  new course */

  .button-2 {
    appearance: none;
    background-color: #00008B;
    border-width: 0;
    /* box-sizing: border-box; */
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    /* padding-right: 10rem; */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* vertical-align: baseline; */
    white-space: nowrap;
  width: 212px;
  /* align: center; */
  /* vertical-align: middle; */
  left: 0%;
  top: 50%;
  
  }
  
  .button-2:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    border-radius: 12px;
    background-color: #3243ac;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .button-2:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    /* border-radius: 12px; */
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .button-2:after {
    background-color: #0800ff;
  
    /* border-radius: 12px; */
  }
  
  .button-2 span {
    z-index: 1;
    position: relative;
  }




    /* filter */

  .button-20 {
    appearance: none;
    background-color: #00008B;
    border-width: 0;
    /* box-sizing: border-box; */
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    /* padding: 1.5em 2.2em; */
    /* padding-right: 10rem; */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* vertical-align: baseline; */
    white-space: nowrap;
  width: 100px;
 
  /* align: center; */
  /* vertical-align: middle; */
  left: 0%;
  top: 10%;
  
  }
  
  .button-20:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    border-radius: 12px;
    background-color: #3243ac;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .button-20:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    /* border-radius: 12px; */
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .button-20:after {
    background-color: #0800ff;
  
    /* border-radius: 12px; */
  }
  
  .button-20 span {
    z-index: 1;
    position: relative;
  }


  
    /* Add discount */

    .button-22 {
      appearance: none;
      background-color: #00008B;
      border-width: 0;
      /* box-sizing: border-box; */
      border-radius: 12px;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-family: Clarkson,Helvetica,sans-serif;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1em;
      margin: 0;
      opacity: 1;
      outline: 0;
      /* padding: 1.5em 2.2em; */
      /* padding-right: 10rem; */
      position: relative;
      text-align: center;
      text-decoration: none;
      text-rendering: geometricprecision;
      text-transform: uppercase;
      transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      /* vertical-align: baseline; */
      white-space: nowrap;
    width: 150px;
   
    /* align: center; */
    /* vertical-align: middle; */
    left: 0%;
    top: 10%;
    
    }
    
    .button-22:before {
      animation: opacityFallbackOut .5s step-end forwards;
      backface-visibility: hidden;
      border-radius: 12px;
      background-color: #3243ac;
      clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateZ(0);
      transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
      width: 100%;
    }
    
    .button-22:hover:before {
      animation: opacityFallbackIn 0s step-start forwards;
      /* border-radius: 12px; */
      clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    }
    
    .button-22:after {
      background-color: #0800ff;
    
      /* border-radius: 12px; */
    }
    
    .button-22 span {
      z-index: 1;
      position: relative;
    }




    


    /* submit status */

    .button-12 {
      appearance: none;
      background-color: #00008B;
      border-width: 0;
      /* box-sizing: border-box; */
      border-radius: 12px;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-family: Clarkson,Helvetica,sans-serif;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1em;
      margin: 0;
      opacity: 1;
      outline: 0;
      /* padding: 1.5em 2.2em; */
      /* padding-right: 10rem; */
      position: relative;
      text-align: center;
      text-decoration: none;
      text-rendering: geometricprecision;
      text-transform: uppercase;
      transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      /* vertical-align: baseline; */
      white-space: nowrap;
    width: 150px;
   
    /* align: center; */
    /* vertical-align: middle; */
    left: 0%;
    top: 10%;
    
    }
    
    


   
  /*  reject */

  .reject {
    appearance: none;
    background-color: #8b0000;
    border-width: 0;
    /* box-sizing: border-box; */
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    /* padding-right: 10rem; */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* vertical-align: baseline; */
    white-space: nowrap;
  width: 212px;
  /* align: center; */
  /* vertical-align: middle; */
  left: 0%;
  top: 50%;
  
  }
  
  .reject:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    border-radius: 12px;
    background-color: #ac3232;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .reject:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    /* border-radius: 12px; */
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .reject:after {
    background-color: #ff0000;
  
    /* border-radius: 12px; */
  }
  
  .reject span {
    z-index: 1;
    position: relative;
  }



  .reject1 {
    appearance: none;
    background-color: #8b0000;
    border-width: 0;
    /* box-sizing: border-box; */
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    /* padding-right: 10rem; */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* vertical-align: baseline; */
    white-space: nowrap;
  width: 212px;
  /* align: center; */
  /* vertical-align: middle; */
  left: 0%;
  top: 70%;
  margin-top: 70px;
  
  }
  
  .reject1:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    border-radius: 12px;
    background-color: #ac3232;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .reject1:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    /* border-radius: 12px; */
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .reject1:after {
    background-color: #ff0000;
  
    /* border-radius: 12px; */
  }
  
  .reject1 span {
    z-index: 1;
    position: relative;
  }

  /*  accept */

  .accept1 {
    appearance: none;
    background-color: #008b33;
    border-width: 0;
    /* box-sizing: border-box; */
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    /* padding-right: 10rem; */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* vertical-align: baseline; */
    white-space: nowrap;
  width: 212px;
  /* align: center; */
  /* vertical-align: middle; */
  left: 70%;
  top: 50%;
  margin-top: 70px;
  
  }
  
  .accept1:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    border-radius: 12px;
    background-color: #32ac53;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .accept1:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    /* border-radius: 12px; */
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .accept1:after {
    background-color: #00ff77;
  
    /* border-radius: 12px; */
  }
  
  .accept1 span {
    z-index: 1;
    position: relative;
  }



  .accept1:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    border-radius: 12px;
    background-color: #32ac53;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .accept1:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    /* border-radius: 12px; */
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .accept1:after {
    background-color: #00ff77;
  
    /* border-radius: 12px; */
  }
  
  .accept1 span {
    z-index: 1;
    position: relative;
  }



  /*  done */

  .done {
    appearance: none;
    background-color: #008b33;
    border-width: 0;
    /* box-sizing: border-box; */
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 0em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    /* padding-right: 10rem; */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* vertical-align: baseline; */
    white-space: nowrap;
  width: 212px;
  height: 10px;
  /* align: center; */
  /* vertical-align: middle; */
  left: 0%;
  top: 5%;
  
  }
  
  .done:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    border-radius: 12px;
    background-color: #32ac53;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .done:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    /* border-radius: 12px; */
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .done:after {
    background-color: #00ff77;
  
    /* border-radius: 12px; */
  }
  
  .done span {
    z-index: 1;
    position: relative;
  }
