/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
.search{
  padding:10px;
  font-size: 20px;
  width: 50%;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}


header .container {
  font-size:larger;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  /* max-width: 1400px; */
  padding: 20px;
  margin: 0 auto;
}




/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}



.adminhome {
  display: grid;
  gap: 80px;
  vertical-align: middle;
 
  
}
.home1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

/* .Coursecontainer{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;

} */

.course-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}


.course-details1 {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

div.preview{
  width:50%;
  height:20%;
}

.course-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.course-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.course-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}


.course-details1 span {
  /* position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333; */
}

/* new workout form */
label,
input {
  display: block;
}

input.course {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
div.radioRating{
  display: inline;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}


div.error1 {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  /* margin: 20px 0; */
  margin-top: 40px;
  margin-left: -63px;
  width: 350px
}


div.error2 {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  /* margin: 20px 0; */
  margin-top: 50px;
  margin-left: -63px;
  width: 350px;
  
}

.admin-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.admin-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #00008B;
}

.admin-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}


.instructor-form  {
  top:'-2950px'; 
  right:'-800px';
}

.admin-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
  display: inline-block;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(0, 145, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  width: 280px
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.spanny {
  position: absolute;
  top: 135px;
  right: 1px;
  cursor: pointer;
  background: #f1f1f1;
  /* padding: 6px; */
  border-radius: 50%;
  color: #333;

}



.spanni {
  position: absolute;
  top: 100px;
  right: 1px;
  cursor: pointer;
  background: #f1f1f1;
  /* padding: 6px; */
  border-radius: 50%;
  color: #333;

}


.drp {
  position: absolute;
  top: 20px;
  right: 260px;
  cursor: pointer;

}


.drpp {
  position: absolute;
  top: 100px;
  right: 50px;
  cursor: pointer;

}


.spannyyyy {
  position: absolute;
  top: 60px;
  right: 1px;
  cursor: pointer;
  background: #f1f1f1;
  /* padding: 6px; */
  border-radius: 50%;
  color: #333;

}



.nonspanny {
  cursor: context-menu
}


a {
  color: #147de7;
  text-decoration: none;
  font-family: nos;
}

* {
  margin: 0;
  padding: 0
}

body {
  background-color: #000
}

.card {
  width: 350px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.image img {
  transition: all 0.5s
}

.card:hover .image img {
  transform: scale(1.5)
}

.btn {
  height: 140px;
  width: 140px;
  border-radius: 50%
}

.name {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.idd1 {
  font-size: 12px
}

.number {
  font-size: 22px;
  font-weight: bold
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500
}

.icons i {
  font-size: 19px
}

hr .new1 {
  border: 1px solid
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold
}

.date {
  background-color: #ccc
}

.App {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.star {
  cursor: pointer;
  transition: color 200 ms;
}

/* input[type="radio"] {
  display: none;
} */

.starsLine {
  display: inline-flex;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}